
  /* navbar */
body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
}

svg{
  width: 2rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
border-radius: 20px;
}

p{
  margin: 0;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}

.greet{
  font-weight: bold;
  text-transform: capitalize;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button{
  font-size: 1.2rem;
  border: none;
  background-color: #72c172;
  color: white;
  box-shadow: 8px 8px 8px #919294, -5px -5px 8px #ffffff;
  border-radius: 25px;
  padding: .5em;
  margin-right: 1rem;
}

.sidebar{
  border-left: .5rem solid green;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100vh;
  padding-top: 6rem;
  background-color: #ecf0f3;
  width: 250px;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color: black;
  font-size: 1.2rem;
  padding: .5rem;
  padding-left: 1rem;

}

#btn-close{
  text-align: right;
  padding-right: 1rem;
  font-size: 2rem;
  width: fit-content;
  position: relative;
  left: 80%;
}

.hidden{
  display: none;
}

.sidebar a:hover{
  background-color: #919294;
  background-color: #72c172;
  color: white;
}

button:hover{
  cursor: pointer;
}

svg:hover{
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  nav{
      flex-direction: column;
  }
  .menu{
      width: 100%;
  }

  .logo, .greet{
      margin-bottom: 0.5rem;
  }
}

/* form */

h1{
  text-align: center;
}

#wrapper {
/*     height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem 0;
  border-radius: 20px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.form > select {
  height: 2rem;
  width: 80%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #555;
  /* font-size: 18px; */
  box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
}

.form > input {
  height: 2rem;
  width: 80%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #555;
  box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
}

.form > label {
  width: 80%;
  margin-bottom: .25rem;
  display: flex;
  justify-content: flex-start;
/*   border: 1px solid red; */
}
.submit {
  width: 80%;
  height: 2rem;
  border: none;
  box-shadow: none;
  border-radius: 25px;
  font-size: 1.2rem;
  margin-top: .5rem;
  background-color: #72c172;
  color: white;
  box-shadow: 8px 8px 8px #919294, -5px -5px 8px #ffffff;
}

#head{
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  justify-content: space-between;
  font-size: 1.2rem;
/*   border: 1px solid red; */
  margin: 2rem;
  margin-bottom: 0;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  border-radius: 20px;

}
/*   
#logout{
  text-decoration: none;
  color: white;
  padding: .5rem 1.2rem;
  background-color: #72c172;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #919294, -5px -5px 8px #ffffff;
} */

.active {
  background-color: #ffffff;
  box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
  color: #555;
}

/* success message  */

.msg_wrapper {
  width: 100%;
  position: fixed;
  top: 2rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

#success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin: auto;
  padding: 1rem;
}

.hide {
  visibility: hidden;
}
.vis {
  visibility: visible;
  animation: banner 0.5s ease-in;
}

#btn {
  margin-top: 200px;
}

@keyframes banner {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 100%;
  }
}

/* error message  */

#error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: auto;
  padding: 1rem;
}