body {
    background-color: #ecf0f3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/*     padding: 1.5rem; */
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-height: 500px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  }
  #title {
    font-size: 35px;
    color: #0746ca;
    font-family: cursive;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .fields {
    width: 80%;
  }
  .fields input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 25px;
    /* margin-bottom: 50px; */
    color: #555;
    font-size: 18px;
    box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
  }
  .btn {
    background-color: #ecf0f3;
    border: none;
    box-shadow: none;
    box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
    border-radius: 25px;
    font-size: 18px;
    color: #555;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 2rem;
  
    /* blue button font style; */
  
    background-color: #0746ca;
    color: white;
    box-shadow: 8px 8px 8px #919294, -5px -5px 8px #ffffff;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .active {
    background-color: #ffffff;
    box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
    color: #555;
  }


  .password {
    margin-bottom: 50px;
  }
  
  /* error box style */

  /* .err{
    margin-top: 0.5rem;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  } */

  /* response notification */

#err{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: auto;
  padding: 1rem;
}  
#msg {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin: auto;
  padding: 1rem;
}

.msg_wrapper {
  width: 100%;
  position: fixed;
  top: 2rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.vis {
  visibility: visible;
  animation: banner 0.5s ease-in;
}

@keyframes banner {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 100%;
  }
}